@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(calc(var(--finalRotation) + 1440deg));
    }
}

.spinAnimation {
    animation: spin 5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
